/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #45a049;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }
}¨*/

.footer {
  background-color: #45a049;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.contact-list li {
  margin-right: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.Imagen-de-logo img {
  max-width: 100px; 

}